body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-image: url(/assets/img/fondo-animado.gif);
    background-repeat: no-repeat;
    background-size: cover;
}


h3 {
    font-size: 16px;
    color: #707070;
}

button text {
    font-size: 16px;
    font-weight: 500;
}

i {
    color: white;
}

header {
    background-image: url("/assets/img/bg-hero-telecom.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    opacity: 0.8;
  }

form {
    opacity: 0.7;
}
